<!-- Loads static files -->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		
		<!-- Logo -->
		<div class="navbar-header">
			<a href="{% url 'homepage:index' %}" class="btn btn-success">Home</a>
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Upload</button>

    <div class="modal fade" id="popUpWindow">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Upload your image!</h3>
                </div>

                <!-- button -->
                <div class="modal-footer">
                    <button-class="btn btn-primary btn-block">Submit</button>
                </div>

            </div>
        </div>
    </div>


	</div>
</nav>

<h1>Edit</h1>